
<!-- Start with the header -->
<section class="header" id="header">



    <a class="tab pi-default pi-big pi-flat" target="_blank" href="https://github.com/415DomSmith"><i class="fa fa-github"></i> My Github</a>

    <a class="tab pi-retro pi-big pi-flat leftist" target="_blank" href="http://415domsmith.github.io/doms_portfolio/#"> My Portfolio</a>

    

    <!-- Main Head Title -->
    {% if site.title %}<h2><a href="{{site.baseurl}}/">{{site.title}}</a></h2>{% endif %}
    {% if site.smalltalk %}<p>{{ site.smalltalk }}</p>{% endif %}




</section>










